@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    /*para zerar as margens - sempre utilizar*/
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.site-inteiro {
    width: 1000px; /*tamanho do site inteiro*/
    border: 1px solid red; /*depois apagar esta linha*/
    margin: 0 auto; /*0 vale para o top e bottom, auto para left e right*/
}

.cabecalho {
    text-align: center; /*centraliza os elementos do cabeçalho*/
    background-image: url('imagens/fundo-banner.png'); /*define uma imagem de fundo*/
    background-position: center center; /*primeiro center é para top e bottom, segundo center para left e right*/
    background-size: cover; /*preenche com a imagem todo o fundo do tamanho do site*/
    background-repeat: no-repeat; /*para não repetir a imagem quando ela for menor que o tamanho do site*/
    padding-top: 20px; /*aumenta espaçamento na borda superior do cabeçalho*/
    padding-bottom: 20px; /*aumenta espaçamento na borda inferior do cabeçalho*/
}

.titulo {
    font-family: 'Cookie'; /*fonte definida pelo usuário*/
    font-size: 60px; /*tamanho da fonte*/
    line-height: 35px; /*altura da linha - diminui ou aumenta o espaçamento entre linhas*/
    color:#68705b; /*define a cor da fonte*/
    font-weight: normal; /*deixa a fonte mais fina*/
    
}

.titulo-pequeno {
    font-size: 30px; /*tamanho da fonte*/
}

.menu-principal {
    background-color: #68705b; /*define a cor de fundo do menu-principal*/
    text-align: center; /*centraliza os elementos do menu-principal*/
    padding-top: 10px; /*aumenta espaçamento na borda superior do menu-principal*/
    padding-bottom: 10px; /*aumenta espaçamento na borda inferior do menu-principal*/
    font-family: 'Roboto'; /*define uma fonte*/
    color: #FFE8D6; /*define cor da fonte do texto*/

}

.item-menu {
    color: #FFE8D6; /*define cor da fonte do texto*/
}

.imagem-banner {
    width: 100%; /*a imagem utilizará 100% do espaço do banner*/
    border-bottom: 3px solid #6B705B; /*borda para finalizar o espaço reservado ao banner*/
}

.titulo-cardapio,
.titulo-galeria,
.titulo-contato {
    margin-top: 50px;
    font-family: 'Cookie';
    font-weight: normal; /*define destaque da fonte*/
    font-size: 45px; /*tamanho da fonte*/
    color: #CB997E; /*define a cor*/
    text-align: center; /*centraliza os elementos*/
}

.lista-cardapio {
    column-count: 4; /*define número de colunas*/
    /*column-gap: 25px; espaçamento entre as colunas*/
    padding: 68px;
    font-family: 'Roboto';
    color: #6B705C;
}

.galeria-fotos {
    background-color: #6B705C;
    padding-top: 5px;
    padding-bottom: 50px;
}

.titulo-galeria {
    color: #FFE8D6;
    padding-bottom: 20px;
}

.linha-fotos {
    /*display: inline; um elemento na frente do outro*/
    /*display: block; um elemento embaixo do outro*/
    display: flex; /*um elemento na frente do outro*/
    justify-content: space-evenly; /*espaça os elementos*/

}

.foto-bolo {
    border: 5px solid #FFE8D6;
    border-radius: 3px; /*borda arredondada*/
    transition: transform 0.5s ease; /*ease - efeito linear - no transform da imagem*/
    /*transition: all 0.5s ease; controla os efeitos de transição*/
}

/*hover - comportamento do mouse*/
.foto-bolo:hover {
    border-color: aquamarine; /*muda a cor da borda na passagem do cursor*/
    cursor: crosshair; /*muda o mouse na passagem do cursor*/
    transform: scale(1.1); /*destaca tamanho da imagem na passagem do cursor*/
}

.mapa {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}